/* For general styles */
.gradient-bg1 {
  background-color: hsla(156, 30%, 94%, 1);
  background-image: radial-gradient(
      at 5% 99%,
      hsla(167, 100%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 92% 10%, hsla(189, 100%, 84%, 0.7) 0px, transparent 50%),
    radial-gradient(at 0% 48%, hsla(355, 100%, 93%, 0.6) 0px, transparent 50%),
    radial-gradient(at 73% 38%, hsla(283, 96%, 83%, 0.6) 0px, transparent 50%),
    radial-gradient(at 77% 90%, hsla(206, 44%, 68%, 0.5) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 0.36) 0px, transparent 50%);
  animation: gradient 13s ease infinite;
  background-size: 200% 200%;
}

.dark-gradient-bg {
  background-color: hsla(259, 32%, 36%, 1);
  background-image: radial-gradient(
      at 66% 74%,
      hsla(289, 60%, 53%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 73% 23%, hsla(328, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 65%, hsla(227, 49%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 14% 32%, hsla(328, 78%, 53%, 1) 0px, transparent 50%);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

/* .noise {
  background: url(http://api.thumbr.it/whitenoise-361x370.png);
  height: 100%;
} */

/* .noise-bg {
  background-image: url(/images/noisy-texture-200x200-o10-d27-c-000000-t1.png);
  background-size: cover;
  opacity: 20%;
  z-index: -1;
} */

.box-bg {
  background-color: rgba(256, 256, 256, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.white-stroke {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 6px #fff;
  border-radius: 50px;
}

.transparent {
  opacity: 50%;
}

@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 70%;
  }
  100% {
    background-position: 0% 20%;
  }
}
