/* For general styles */
.gradient-bg1 {
  background-color: hsla(156, 30%, 94%, 1);
  background-image: radial-gradient(
      at 5% 99%,
      hsla(167, 100%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 92% 10%, hsla(189, 100%, 84%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 48%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 38%, hsla(283, 96%, 83%, 0.6) 0px, transparent 50%),
    radial-gradient(at 77% 90%, hsla(206, 44%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 0.36) 0px, transparent 50%);
  animation: gradient 13s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 70%;
  }
  100% {
    background-position: 0% 20%;
  }
}

/* .noise-bg {
  background-image: url(/images/noisy-texture-200x200-o10-d27-c-000000-t1.png);
  background-size: cover;
  opacity: 20%;
  z-index: -1;
} */
