*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-image:url(../images/Gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav{
    width:80%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* background-color:blue; */
    margin-top:0;
    height:100px;
    margin-bottom:8px;
    padding:10px;

}
.logo{
    width:80px;
    height:30%;
    /* background-color:rgb(21, 141, 147); */
    padding:auto;
}
ul {
    display:flex;
    /* background-color:white; */
    justify-content:space-between;
    list-style:none;
    width:30%;
}
ul li {
    padding:5px;
}
ul li a{
    color:#6f65e2;
    font-size:1.2em;
    font-family:Arial,sans-serif;
    font-weight:500;
    text-decoration:none;
}
.card{
    width:80%;
    height:auto;
    /* background-color:white; */
    border-radius:60px;
    padding:40px 70px;
    border:3px solid white;
    
   
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color:blue; */
    margin-top:20px;
    padding:5px;
    margin-bottom:30px;
    
    
}
header h1{
    text-align:justify;
    font-size:62px;
    font-family:"Roboto Flex",sans-serif;
    font-weight:600;
    letter-spacing:10px;
    text-transform:uppercase;
}
#code{
    margin: auto;
    font-family: "Space Mono";
    color: #65609F;
    font-weight: 500;
}
.register-section{

    width:90%;
    height:auto;
    /* background-color:blue; */
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10px;
    margin:auto;
    
}
.left{
    width:50%;
    height:auto;
    /* background-color:aqua; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.welcome p{
    font-family:"Quicksand";
    font-weight:600;
    letter-spacing:4px;
    font-size:30px;
}
.regis{
    width:90%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    margin-top:15px;
    border-radius:2em;
    border:2px solid #0D0936;
    background-color:#6E65CB;
    padding:3px;
    margin-bottom:9px;
}
.regis a {
    font-size:1.5em;
    color:white;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
}
.countdown {
    padding:7px;
}
.material-symbols-outlined ,#countdown-display{
    font-size:1.2em;
    margin:3px;
    font-family: arial,sans-serif;
}
.right{
    /* background-color:antiquewhite; */
    width:50%;
    height:auto;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-left:100px;
    /* padding */
    

}
.right img{
    max-width:100%;
    height:250px;
    object-fit:cover;
    /* background-color:blue; */

}
.countdown{
    width:89%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    margin-top:15px;
    border-radius:2em;
    border:2px solid #0D0936;
    background-image: linear-gradient(to right, rgb(211, 206, 206) , rgb(157, 156, 156));
    padding:18px 8px;
    margin-bottom:9px;
    color:white;
}

